{{>header}}
<div class="main-content">
    <p class="creatby">This site was created by Ramy badr.</p>
    <p class="creatby">it uses data from api.weatherstack.com, mapquestapi.com and restCountries.com</p>
    <img src="images/ramy.jpg" class="me-img" alt="ramy">
</div> 
{{>footer}}
