{{>header}}
<div id="preloader">
    <img src="images/preloader.gif" alt="preloader">
</div>
<div class="main-content">
    <p>Use this site to get your weather</p>

    <form action="">
        <input type="text" placeholder="Location">
        <div class="selector">
            <div class="selectField">
                <p>Select Country</p>
                <img src="images/up-arrow.png" alt="">
            </div>
            <ul class="countriesList hidden">
            </ul>
        </div>
        <button>Search</button>
    </form>
    <p id="message-one"></p>
    <p id="message-two"></p>
</div>
<script src="js/app.js"></script>    
{{>footer}}
